body {
	background-color: rgb(255, 255, 255);
}

h1 {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: rgb(0, 0, 0);
}

p {
	font-family: sans-serif;
	text-align: center;
	color: rgb(0, 0, 0);
}


.posts_container {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
.container {
	display: flex;
	justify-content: space-between;
	color: rgb(0, 0, 0);

  }
  
  .left-container, .right-container {
	width: 50%; /* adjust as needed */
	object-fit: fill;
	box-sizing: border-box;
	padding: 20px;
  }
  
  .left-container {
	background-color:transparent; /* set background color for left container */
  }
  
  .right-container {
	background-color: transparent; /* set background color for right container */
  }
  
.chart-container {
	width: 100%;
	margin: auto;
}

#sentiment-chart {
	height: 200px;
	margin-top: 20px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  
  input[type="number"] {
	margin-left: 10px;
  }
  
  label {
	color: rgb(0, 0, 0);
	margin-right: 5px;
	margin-left: 5px;
  }



.textName {
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #fefefe;
	animation: cursor 4s step-start ,
		text 4s steps(45) ;
	font-family: sans-serif;
	color: white;
	margin-left: 5%;

}

@keyframes cursor {

	0%,
	100% {
		border-color: #ffffff;
	}
}

@keyframes text {
	
	0% {
		width: 0;

	}

	100% {
		width: 45ch;

	}
}

/* Section styles */

  .posts_input_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .section-title {
	font-size: 2.5rem;
	margin-bottom: 40px;
  }
  
  /* Post styles */
  .post-container {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .post-container:hover {
	transform: translateY(-10px);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  }
  
  .post-title {
	font-size: 1.5rem;
	margin-bottom: 20px;
  }
  
  .post-content {
	display: flex;
	flex-direction: column;
  }
  
  .post-text {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  /* Comment styles */
  .comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .comment {
	font-size: 1.1rem;
	line-height: 1.5;
	margin-bottom: 10px;
  }
  



  .loading-circle {
	width: 60px;
	height: 60px;
	border: 6px solid #3498db;
	border-top: 6px solid #f3f3f3;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50%;
	margin-top: 10%;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .centerMapLoading{

	margin-top: 35%;
  }


  /* News  */

  .article {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .article h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .article p {
    margin: 0;
  }

  .article .title-emotion {
    font-weight: bold;
    color: #555;
  }

  .article .body-emotion {
    font-style: italic;
    color: #777;
  }

  .article .link {
    margin-top: 10px;
  }


  .news_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .heading {
    font-size: 24px;
    margin-right: 10px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin-left: 10px;
  }